body {

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


#startGame {
    border: 1px solid black;
    width: 750px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 40px;
    background-image: url(../img/reydelanoche.gif);
    background-size: cover;
    position: relative;


}
#starrtGame img{
 position: absolute;
 left:350px;
}
.btnStart {
    background-color: rgb(107, 145, 167);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: end;



}
.btnStart:hover{
    background-color: rgb(17, 106, 148);
}
.noVisible {
    display: none;
}


#container {
    width: 700px;
    height: 400px;
    border-radius: 10px;
    display: none;
}